.DS_Store
/wandb
__pycache__/
*.pyc
/saves
models/
/Llama*
.slurm/
Whisper*
audioak/
infer.ipynb
vocoder/
ebaluazioa/
results/
erantzuna_latxa
erantzuna_latxa_omni
*.log*
HiFiGAN-Basque-Maider-Antton
Latxa-3.1-8B-Omni
tmp/